/* Toggle Password Styles */ 
@import url('https://fonts.googleapis.com/css?family=Gelasio:600|Montserrat:500&display=swap');

.back-projects {
    margin: 2.5em auto 0;
    text-align: center;
}

.back-projects a {
    width: max-content;
    font-size: .8em;
    padding: 15px 20px;
    border: solid 2px #ffffff;
    border-radius: 12px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.3);
}

.back-projects a:hover,
.back-projects a:focus {
    outline: none;
    box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.6);
}

.back-projects a::before {
    content: '\003C';
    margin-right: 5px;
}

body {
    margin: 2.5em auto 0;
    max-width: 40em;
    width: 88%;
    background: #27104E;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

form {
    background: #ffffff;
    width: 40%;
    padding: 3em 2em 1.5em;
    margin: 1.5em auto 3em;
    border-radius: 5%;
    box-shadow: 2px 4px 8px rgba(152, 84, 203, .5);
}

form div {
    margin: 0 auto;
    width: 100%;
}

form p {
    margin: 1em auto;
    text-align: center;
}

h1 {
    color: #ffffff;
    margin: 0;
}

h1 + p {
    color: #ffffff;
    margin: .8em 0 1em;
    text-align: center;
}

h2 {
    font-family: 'Gelasio', serif;
    margin: 10px 0;
    font-size: 2.5em;
    letter-spacing: .025em;
}

label {
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .8em;
}
input {
    margin: .5em 0 3em;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 0 5px 15px;
    font-size: .8em;
}

input:focus,
[type="checkbox"]:focus {
    outline: none;
    border: solid 4px rgba(152, 84, 203, 1);
}

[type="text"],
[type="password"] {
    border-radius: 10px;
    width: 90%;
    height: 30px;
    border: solid 2px rgba(152, 84, 203, 1);
    margin: 10px 0 20px;
    box-shadow: 2px 4px 8px rgba(152, 84, 203, .1);
}

[type="password"] {
    font-size: 1.5em;
}

[type="checkbox"] {
    margin-bottom: 0;
    margin-right: 0.25em;
}

button {
    border-radius: 10px;
    padding: 10px 30px;
    margin: 8px 0 0;
    color: #ffffff;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: .08em;
    background: rgba(89, 36, 129, 1);
    box-shadow: 2px 4px 8px rgba(152, 84, 203, .5);
}

button:focus {
    outline: none;
    border: solid 4px rgba(152, 84, 203, 1);
    font-weight: bold;
    box-shadow: 2px 2px 8px rgba(152, 84, 203, 1);
}